body {
    background-color: #2b0281;
     /*background-image: url('/static/img/LOGOnova (1).png' ) */
    background-position: center;
    font-family: "Kufam", sans-serif;
    
}


.navbar  {
    background-color: #190349;
   
}

.nav-link:hover  {
    background-color: #68416E;
    border-radius: 5px;
}

#boxProdutos {
    margin-top: 100px;
}

.teste {
    background-color: rgb(24, 1, 65);
    height: 50px;
   
}


.table {
    font-size: 20px;
}

#botao {
    margin-left: 5px;
}

